@model ProfileModel

@{
    ViewData["TITLE"] = "GitHubApp Profile search";
    ViewData["PROFILEMESSAGE"] = "Please fill in the empty fields!";
    ViewData["USERALERT"] = "User not found!";
    ViewData["RATELIMIT"] = "Too many API calls, API rate limit exceeded!";
}

<div class="text-center">
    <h1>@ViewData["TITLE"]</h1>
</div>

@using (Html.BeginForm())
{
    <div class="searchBar">
        <form action="/Controller/ProfileController/" method="post">
            <label>Search:</label> @Html.TextBox("GitHubUsername", "", new {@placeholder = "Type in to search...", @required="required"})
            <input class="searchBar" type="submit" value="Search" />
        </form>
    </div>
}

<script>
    function showprofile() {
        let statusCode = 0;
        statusCode = @Html.DisplayFor(model => model.StatusCode);
        let profileContainer = document.getElementById("profileContainer");
        if (statusCode != 200) {
            profileContainer.style.display = "none";
            if (statusCode === 404) {
                alert("@ViewData["USERALERT"]");
                console.log("@ViewData["USERALERT"]");
            } else if (statusCode === 403) {
                alert("@ViewData["RATELIMIT"]");
                console.log("@ViewData["RATELIMIT"]");
            }
        } else {
            profileContainer.style.display = "block";
            let div = document.createElement("div");
            div.id = "profileNotification";
            document.getElementById("profileContainer").appendChild(div);
            div.innerHTML = "@ViewData["PROFILEMESSAGE"]";
        }
    }
    document.addEventListener("DOMContentLoaded", () => { showprofile(); });
</script>

<div id="profileContainer">
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayFor(model => model.AvatarUrl)*@
            <img src="@Model.AvatarUrl" alt="Avatar" width="200" height="200" />
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>